.sticky-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  position: absolute;
  width: 100%;
}

.body_container {
  background: linear-gradient(
    45deg,
    #845ec2 0%,
    #d65db1 25%,
    #ff6f91 50%,
    #ff9671 75%,
    #f9f871 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header_container {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
  z-index: 80;
  filter: url(#goo);
}

.header_container a {
  text-decoration: none;
  margin-left: auto;
  height: 20px;
  width: 8em;
  position: relative;
  top: 2em;
  right: 2em;
  font-family: "Sohne Regular";
}

.header_container h1 {
  position: relative;
  left: 1em;
  cursor: pointer;
}

.header_container span {
  padding-right: 20px;
  padding-left: 20px;
}

.body_about {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_about p {
  font-size: 50px;
}

.body_about h1 {
  font-size: 80px !important;
}

.header_svglogo a {
  color: inherit;
  transition: 0.4s;
}

.header_svglogo a:hover {
  color: white;
  transition: 0.5s;
}

.body_workexperience {
  padding-top: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_workexperience h1 {
  font-size: 40px !important;
}

.body_workexp_grid {
  margin: 10vh 0vw;
  box-sizing: border-box;
  display: grid;
  grid-gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.body_workexp_grid p {
  font-size: 15px;
}

.nanban,
.sorice,
.aveon,
.iresponsive,
.leora {
  position: relative;
  padding: 10px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
}

.body_skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body_skill_check {
  position: relative;
  align-self: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
  display: grid;
  grid-gap: 4em;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.body_skill_check button {
  position: relative;
  border: none;
  width: 100%;
  background: transparent;
  transition: 1s;
}

.body_skill_check button:hover {
  background: transparent;
  border: none;
  border-radius: 16px;
  background-color: rgba(85, 85, 85, 0.106);
  transition: 0.4s;
  color: rgba(255, 105, 187, 0.676);
}

.body_about p {
  font-size: 25px;
}

.active {
  border: none;
  border-radius: 16px;
  background-color: rgba(85, 85, 85, 0.106);
  color: rgb(255, 72, 173);
  border-radius: 12px;
  padding: 10px 20px;
  transition: 2s;
}

.inactive {
  transition: 2s;
}

.body_skill_list {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
  margin: auto;
}

@-webkit-keyframes text-blur-out {
  0% {
    filter: blur(12px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes text-blur-out {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

.text-blur {
  filter: blur(12px);
  transition: filter 1s ease-in-out;
}

.text-clear {
  filter: blur(0px);
  transition: filter 1s ease-in-out;
}

.body_contact {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body_contact_all {
  display: flex;
  flex-direction: row;
  gap: 20%;
  z-index: 10;
}

.body_contact_linkedin {
  display: flex;
  flex-direction: row;
}

.body_contact_gmail {
  display: flex;
  flex-direction: row;
}

.footer_container {
  display: flex;
  justify-content: center;
}

/*  */

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

/* 
  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  } */

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.8) 0,
      rgba(var(--color3), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.8) 0,
      rgba(var(--color4), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color5), 0.8) 0,
      rgba(var(--color5), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}

.interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}

.section {
  position: relative;
}

.section::before {
  content: "";
  display: block;
  height: 20px;
  margin-top: -20px;
  visibility: hidden;
}
