.absolute {
  position: absolute;
  top: 50px !important;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.bg-shape1 {
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  animation: one 10s infinite;
}

.bg-shape2 {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  animation: two 10s infinite;
}

@keyframes one {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -100px;
    top: 70px;
  }
  50% {
    left: 20px;
    top: 150px;
  }
  75% {
    left: 50px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes two {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 50px;
    top: 10px;
  }
  50% {
    left: 100px;
    top: 50px;
  }
  75% {
    left: 50px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.opacity-50 {
  opacity: 0.5;
}

.bg-blur {
  filter: blur(90px);
}

.bg-primary {
  background-color: rgb(30, 0, 255);
}

.bg-teal {
  background-color: rgb(255, 72, 173);
}

.bg-purple {
  background-color: rgb(140, 0, 137);
}

.header_container {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
  z-index: 1;
}

.header_container a {
  text-decoration: none;
  margin-left: auto;
  height: 20px;
  width: 8em;
  position: relative;
  top: 2em;
  right: 2em;
  font-family: "Sohne Regular";
}

.header_container h1 {
  position: relative;
  left: 1em;
  cursor: pointer;
}

.body_about {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_workexperience {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_workexp_grid {
  margin: 10vh 0vw;
  box-sizing: border-box;
  display: grid;
  grid-gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.body_workexp_grid p {
  font-size: 15px;
}

.nanban,
.sorice,
.aveon,
.iresponsive,
.leora {
  position: relative;
  padding: 10px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
}

.body_skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body_skill_check {
  position: relative;
  align-self: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
  display: grid;
  grid-gap: 4em;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.body_skill_check button {
  position: relative;
  border: none;
  width: 100%;
  background: transparent;
  transition: 1s;
}

.body_skill_check button:hover {
  background: transparent;
  border: none;
  border-radius: 16px;
  background-color: rgba(85, 85, 85, 0.106);
  transition: 0.4s;
}

.active {
  border: none;
  border-radius: 16px;
  background-color: rgba(85, 85, 85, 0.106);
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  transition: 2s;
}

.inactive {
  transition: 2s;
}

.body_skill_list {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.513);
  margin: auto;
}

@-webkit-keyframes text-blur-out {
  0% {
    filter: blur(12px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes text-blur-out {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

.text-blur {
  filter: blur(12px);
  transition: filter 1s ease-in-out;
}

.text-clear {
  filter: blur(0px);
  transition: filter 1s ease-in-out;
}

.body_contact {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body_contact_all {
  display: flex;
  flex-direction: row;
  gap: 20%;
}

.body_contact_linkedin {
  display: flex;
  flex-direction: row;
}

.body_contact_gmail {
  display: flex;
  flex-direction: row;
}

.footer_container {
  display: flex;
  justify-content: center;
}
