@font-face {
  font-family: "Sohne Regular";
  src: url(../src/Assets/Fonts/Sohne\ Regular.otf);
}

@font-face {
  font-family: "Sohne Bold";
  src: url(../src/Assets/Fonts/Sohne\ Bold.otf);
}

canvas {
  position: fixed;
  touch-action: none;
}

:root {
  background-color: black;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: "Sohne Bold";
}

h3,
h4,
h5,
h6,
a,
p {
  font-family: "Sohne Regular";
  color: white;
  text-decoration: none;
}
