@font-face {
  font-family: "Sohne Regular";
  src: url(../src/Assets/Fonts/Sohne\ Regular.otf);
}

@font-face {
  font-family: "Sohne Bold";
  src: url(../src/Assets/Fonts/Sohne\ Bold.otf);
}

.main {
  padding: 0 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2 {
  font-family: "Sohne Bold";
}

h3,
h4,
h5,
h6 {
  font-family: "Sohne Regular";
}
